<html lang="en">
    <head>{{>header}}</head>
     <body class="container"> 
        </p>
          <div class="row">
            <div class="column" style="background-color:rgb(255,255,255);">
              <h2>{{WebAppLinks}}</h2>
              <h3><p>{{the-description}}</h3></p>
              <h3></p><a href='/runtests/{{button1}}'>{{button1}}</a></h3>
              <h3></p><a href='/showpastresults/{{button2}}'>{{button2}}</a></h3>
            </div>
          </div> 
          </p>
    </body>
</html>